 * {
     padding: 0;
     margin: 0;
 }
 /*头部和尾部的设置*/
 
 .header,
 .footer {
     width: 100%;
     background: #F2F2F2;
     clear: both;
     height: 80px;
     line-height: 80px;  /*头部问题垂直居中*/
 }
 
 .header {
     margin-bottom: 10px;
 }
 
 .footer {
     display: flex;
     align-items: center;
     justify-content: center; /*底部文字垂直水平居中*/
     margin-top: 10px;
 }
 /*段落和标题的设置*/
 
 p {
     line-height: 2;
     word-spacing: 2px;
     text-indent: 2em; /*首行缩进*/
     margin-bottom: 10px;/*段间距*/
 }
 
 h3 {
     padding: 15px 0 5px 0;
 }
 
 .bd {
     overflow: hidden;
     background: #F2F2F2;
 }
 
 .left,
 .right {
     background: #F2F2F2;
     width: 200px;
     float: left;
     padding: 0 5px 0 5px;
     margin-bottom: -9999px;
     /*等高的设置*/
     padding-bottom: 9999px;
 }
 
 .left {
     margin-left: -100%;
     border-right: 10px solid #ffffff; /*设置的间隔*/
 }
 
 .main {
     background: #F2F2F2;
     width: 100%;
     float: left;
 }
 
 .right {
     margin-left: -220px;
     border-left: 10px solid #ffffff;/*设置的间隔*/
 }
 
 .inner {
     padding: 0 5px 0 5px;
     margin-left: 220px;
     margin-right: 220px;
 }
